StorageAccount/BlobStorage/*.json
StorageAccount/BlobStorage/appsettings.json
StorageAccount/BlobStorage/Properties
StorageAccount/BlobStorage/bin
StorageAccount/BlobStorage/obj
StorageAccount/QueueStorage/*.json
StorageAccount/QueueStorage/appsettings.json
StorageAccount/QueueStorage/Properties
StorageAccount/QueueStorage/bin
StorageAccount/QueueStorage/obj
StorageAccount/TableStorage/*.json
StorageAccount/TableStorage/appsettings.json
StorageAccount/TableStorage/Properties
StorageAccount/TableStorage/bin
StorageAccount/TableStorage/obj
StorageAccount/AzuriteEmulator/*.json
StorageAccount/AzuriteEmulator/appsettings.json
StorageAccount/AzuriteEmulator/Properties
StorageAccount/AzuriteEmulator/bin
StorageAccount/AzuriteEmulator/obj
AzureSql/AzureSql/*.json
AzureSql/AzureSql/appsettings.json
AzureSql/AzureSql/Properties
AzureSql/AzureSql/bin
AzureSql/AzureSql/obj